<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    {% block head %}
        <title>Lucas Oliveira</title>
    {% endblock %}

    
    <link rel="stylesheet" href="/styles.css">
    

</head>

<body>
    <header>
        <div class="links">
            <a href="/">SOBRE</a>
            <a href="/portfolio">JOBS</a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>
</html>